<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Arab Coders</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Arab Coders</h1>
        <nav>
            <a href="index.html" class = "active">الصفحة الرئيسية</a>
            <a href="profile.html">الملف الشخصي</a>
            <a href="members.html">الأعضاء</a>
            <a href="search.html">بحث</a>
            <a href="creat.html">إنشاء</a>
        </nav>
    </header>
        <main>
        <div>
            <p class="posts">الموضوع (1)</p>
            <p class="posts">الموضوع (2)</p>
            <p class="posts">الموضوع (3)</p>
            <p class="posts">الموضوع (4)</p>
            <p class="posts">الموضوع (5)</p>
            <p class="posts">الموضوع (6)</p>
        </div>
    </main>
</body>
</html>