header{
        background: #33cccc;
        padding: 10px;
    }

 body{
    padding:5px;
    margin:5px;
}

h1{
    color: #ffffff; 
    text-align: center; 
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 200%;
}


nav a{
    color: #000000;
    background: #BCBCB3;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 5px;
}

.active{
    color:#00008B;
    background: #ffffff;
}

table{
    padding:5px;
    margin:5px;
    width: 100%;
    border-width:2px;
    border-style: solid;
    border-color: #ffffff;
    border-collapse: separate;
}



tr{opacity: 0.7;}

tr:hover{opacity: 0.9;}

td{
    background: #BCBCB3;
    margin:10px;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    height: 70px;
}